@font-face {
	font-family: "Macherie";
	src: url(fonts/macherie.ttf);
}

* {
    box-sizing: border-box;
}

div, header, footer, main, nav {
	font-size: 18px;
    margin: 0 auto;
    padding: 30px 15px;
}

body {
	position: absolute;
	width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff6c;
    margin: 0 10%;
    padding: 0;
}

h1, h2, h3 {
	padding: 40px;
	text-shadow: #e67e22 1px 1px;
	width: 100%;
	text-align: center;
}

h1, h2, h3, p, li, td, th, a {
    font-family: "Macherie";
    font-weight: 400;
    color: #333333;
}

 p, li, a {
	margin-left: 30px;
	width: 70%;
 }

a {
	transition: .5s;
    text-decoration: none;
}


a:hover {
    color: #e67e22;
}

section {
    padding: 20px 0;
    border-bottom: solid 1px #a09f9f;
}


img {
    width: 30%;
    height: auto;
}


table {
	margin: 0 auto;
    border-collapse: collapse;
    width: 70%;
}

th, td {
    padding: 10px;
    border: 1px solid #333333;
    text-align: left;
}


footer {
    background-color: black;
    color: white;
}

footer * {
    font-size: 16px;
    color: #b4b3b3;
    text-decoration: none;
}

.background-block {
	z-index: -5;
	width: 100%;
	position: absolute;
	height: 100%;
	animation: gradient-light 60s infinite ;
}

.second-background-block {
	z-index: -4;
	width: 100%;
	position: absolute;
	height: 100%;
	opacity: .8;
	animation: gradient-purple 60s infinite;
}

.background-block2 {
	z-index: -5;
	width: 100%;
	position: absolute;
	height: 100%;
	animation: gradient-light-backwards 60s infinite;
}

.second-background-block2 {
	z-index: -4;
	width: 100%;
	position: absolute;
	height: 100%;
	opacity: .8;
	animation: gradient-purple-backwards 60s infinite;
}


@keyframes gradient-light {
	from {background: radial-gradient(at top right, #d2f87b86, transparent); opacity: 1;}
	7% {opacity: 0;}
	12.5% {background: radial-gradient(at top left, #d2f87b86, transparent); opacity: 1;}
	18.75% {opacity: 0;}
	25% {background: radial-gradient(at bottom right, #d2f87b86, transparent); opacity: 1;}
	31.25% {opacity: 0;}
	37.5% {background: radial-gradient(at bottom left, #d2f87b86, transparent); opacity: 1;}
	43.75% {opacity: 0;}
	50% {background: radial-gradient(at left, #d2f87b86, transparent); opacity: 1;}
	56.25% {opacity: 0;}
	62.5% {background: radial-gradient(at right, #d2f87b86, transparent); opacity: 1;}
	68.75% {opacity: 0;}
	75% {background: radial-gradient(at bottom, #d2f87b86, transparent); opacity: 1;}
	81.25% {opacity: 0;}
	90% {background: radial-gradient(at top, #d2f87b86, transparent); opacity: 1;}
	to {opacity: 0;}

}


@keyframes gradient-light-backwards {
	from {opacity: 0;}
	7% {background: radial-gradient(at bottom right, #c7d98ca1, transparent); opacity: 1;}
	12.5% {opacity: 0;}
	18.75% {background: radial-gradient(at bottom left, #c7d98ca1, transparent); opacity: 1;}
	25% {opacity: 0;}
	31.25% {background: radial-gradient(at top right, #c7d98ca1, transparent); opacity: 1;}
	37.5% {opacity: 0;}
	43.75% {background: radial-gradient(at top left, #c7d98ca1, transparent); opacity: 1;}
	50% {opacity: 0;}
	56.25% {background: radial-gradient(at right, #c7d98ca1, transparent); opacity: 1;}
	62.5% {opacity: 0;}
	68.75% {background: radial-gradient(at left, #c7d98ca1, transparent); opacity: 1;}
	75% {opacity: 0;}
	81.25% {background: radial-gradient(at top, #c7d98ca1, transparent); opacity: 1;}
	90% {opacity: 0;}
	to {background: radial-gradient(at bottom, #c7d98ca1, transparent); opacity: 1;}

}

@keyframes gradient-purple {
	from {background: radial-gradient(at bottom, #f8d53883, transparent); opacity: 1;}
	7% {opacity: 0;}
	12.5% {background: radial-gradient(at top, #f8d53883, transparent); opacity: 1;}
	18.75% {opacity: 0;}
	25% {background: radial-gradient(at left, #f8d53883, transparent); opacity: 1;}
	31.25% {opacity: 0;}
	37.5% {background: radial-gradient(at right, #f8d53883, transparent); opacity: 1;}
	43.75% {opacity: 0;}
	50% {background: radial-gradient(at top left, #f8d53883, transparent); opacity: 1;}
	56.25% {opacity: 0;}
	62.5% {background: radial-gradient(at top right, #f8d53883, transparent); opacity: 1;}
	68.75% {opacity: 0;}
	75% {background: radial-gradient(at bottom left, #f8d53883, transparent); opacity: 1;}
	81.25% {opacity: 0;}
	90% {background: radial-gradient(at bottom right, #f8d53883, transparent); opacity: 1;}
	to {opacity: 0;}
}

@keyframes gradient-purple-backwards {
	from {opacity: 0;}
	7% {background: radial-gradient(at bottom right, #ff626254, transparent); opacity: 1;}
	12.5% {opacity: 0;}
	18.75% {background: radial-gradient(at bottom left, #ff626254, transparent); opacity: 1;}
	25% {opacity: 0;}
	31.25% {background: radial-gradient(at top right, #ff626254, transparent); opacity: 1;}
	37.5% {opacity: 0;}
	43.75% {background: radial-gradient(at top left, #ff626254, transparent); opacity: 1;}
	50% {opacity: 0;}
	56.25% {background: radial-gradient(at right, #ff626254, transparent); opacity: 1;}
	62.5% {opacity: 0;}
	68.75% {background: radial-gradient(at left, #ff626254, transparent); opacity: 1;}
	75% {opacity: 0;}
	81.25% {background: radial-gradient(at top, #ff626254, transparent); opacity: 1;}
	90% {opacity: 0;}
	to {background: radial-gradient(at bottom, #ff626254, transparent); opacity: 1;}

}

form {
	width: 70%;
	margin: 30px auto;
}

form * {
	font-family: "Macherie";
}

input, select {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

fieldset {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

fieldset input {
	width: auto;
}