@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    box-sizing: border-box;
}

div, header, footer, main, nav {
    margin: 0 auto;
    padding: 10px 15px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #b2c796;
    margin: 0 10%;
    padding: 0;
}

h1, h2, h3, p, li, td, th, a {
    font-family: 'Google Sans', sans-serif;
    font-weight: 400;
    color: #333333;
}

a {
    text-decoration: none;
}


a:hover {
    color: #e67e22;
}

section {
    padding: 20px 0;
    border-bottom: solid 1px #3d3d3d;
}


img {
    width: 30%;
    height: auto;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #333333;
    text-align: left;
}


footer {
    background-color: black;
    color: white;
}

footer * {
    font-size: 16px;
    color: #b4b3b3;
    text-decoration: none;
}